hachoir
mongoengine
numpy
pillow
scipy
tqdm
click
geocoder
what3words
folium
airtable-python-wrapper
phonenumbers
blinker
flask-mongoengine
flask-bootstrap
flask_nav
deepface
python-slugify
sentry_sdk
flask-login
wtforms
bcrypt
flask-bcrypt
gunicorn

