{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}Douceville{% endif %}
{% endblock %}

{% block navbar %}
    {{nav.top.render()}}
{% endblock %}

{% block content %}
<img src="data:image/jpeg;base64,{{photo}}" width=768 />
<table>
    <TR>
        {% for face in faces %}
       <TD><img src="data:image/jpeg;base64,{{face}}" width=75 />
       </TD>
       {% endfor %}
    </TR>
    <TR>
        {% for name in names %}
       <TD>{{name}}
       </TD>
       {% endfor %}
    </TR>
    </table>
{{super()}}
{% endblock %}

