{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}Douceville{% endif %}
{% endblock %}

{% block navbar %}
    {{nav.top.render()}}
{% endblock %}

{% block content %}
<img src="data:image/jpeg;base64,{{photo}}" width=768 />
<table classs="table">
    <tbody>
        <TR>
            {% for face in faces %}
           <td style="text-align:center"><img src="data:image/jpeg;base64,{{face}}" width=75 />
           </TD>
           {% endfor %}
        </TR>
        <TR>
            {% for name in names %}
           <td style="text-align:center">{{name}}
           </TD>
           {% endfor %}
        </TR>
    </tbody>
</table>
{{super()}}
{% endblock %}

